{% extends 'base.html' %}
{% load static %}
{% load filtro %}

{% block 'head' %}
    <link href="{% static 'empresa/css/empresas.css' %}" rel="stylesheet">
{% endblock  %}

{% block 'title' %}SELETI.VE | Empresas{% endblock  %}

{% block 'body' %}
    <div class="wrapper">
        <div class="box"> 
            <div class="header-box">
                {% if messages %}
                    {% for message in messages %}
                        <section class="alert {{message.tags}}">
                            {{message}}
                        </section>
                    {% endfor %}
                {% endif %}
                <h2 class="titulo">Gerenciar empresas</h2>
                <a class="btn-nova-empresa" href="{% url 'nova_empresa' %}">Nova empresa</a>
            </div>
            <div class="borda-box"></div>
            <div class="body-box">
            
                <form action="{% url 'empresas' %}" method="GET"> {% csrf_token %}
                <div class="row">
                    
                        <div class="col-md-5">
                            <input type="text" placeholder="Busque pelo nome" class="form-control" name="nome">
                        </div>

                        <div class="col-md-4">
                            <select class="form-select" name="tecnologias" title="Selecione uma tecnologia">
                                <option value="" >------ Selecione uma tecnologia ------</option>
                                {% for tecnologia in tecnologias|dictsort:"tecnologia" %}
                                    <option value="{{ tecnologia.id }}">{{ tecnologia }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    
                    <div class="col-md-3">
                        <input type="submit" value="FILTRAR" class="btn btn-lg btn-orange">
                    </div>
                </div>
                </form>
            {% if empresas %}
                <table class="tabela" cellpadding="20">
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                        <th>Tecnologias usadas</th>
                        <th>Quantidade de vagas</th>
                        <th>Ação</th>
                    </tr>

                    {% for empresa in empresas %}
                        <tr {% if not forloop.counter|is_par %} class="tabela-linha" {% endif %}>
                            <td>{{ empresa.nome }}</td>
                            <td>{{ empresa.endereco }}</td>
                            <td>
                                <select class="form-select"> 
                                    {% for tecnologia in empresa.tecnologias.all %}
                                        <option>{{ tecnologia }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td >
                                {% if empresa.quantidade_vagas > 0 %}
                                    <img src="{% static 'empresa/img/flag_green.png' %}" alt="Green flag">
                                    {% else %}
                                    <img src="{% static 'empresa/img/flag_red.png' %}" alt="Red flag">
                                {% endif %}
                                &nbsp&nbsp{{ empresa.quantidade_vagas }} vaga(s)
                            </td>
                            <td>
                                <a class="btn-excluir" href="{% url 'excluir_empresa' empresa.id %}">Excluir empresa</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <br>
                <p align="center">Nenhuma empresa encontrada</p>
            {% endif %}
            </div>
        </div>
    </div>

{% endblock%}